
.mainContainer{
    position: relative;
}

.memberDetails {
    position: absolute;
    top: 0%;
    left: 0%;
    
}

.note{

    position: relative;
}

.signUpTitle{
    position: absolute;
    top: 7%;
    left: 27%;
    font-family: var(--defulat-font);
    font-size: 50px;
}

.memberInfo{
    position: absolute;
    padding: 20px;
    top: 20%;
    left: 50%;
}