.mainContainer {
  position: relative;
}

.diaryImage {
  position: absolute;
  top: 2%;
  left: 17%;
  z-index: 1;
  size: 20px;
  width: 670px;
  height: 730px;
}
.diaryImage2 {
  position: absolute;
  top: -1%;
  left: 54%;
  bottom: 70%;
  z-index: 1;
  size: 20px;
  width: 670px;
  height: 760px;
}
